* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: darkslategrey;
}

h1 {
  font-size: 48px;
  margin: 16px;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
}

p {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}
@media (min-width: 550px) {
  .main {
    max-width: 900px;
    margin: auto;
  }
}

.search-box {
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
}
@media (min-width: 650px) {
  .search-box {
    flex-direction: row;
    gap: 24px;
  }
}

input {
  position: relative;
  padding: 8px;
  border-radius: 8px;
  font-size: 24px;
}
input:focus {
  border-radius: 8px 8px 0 0;
  outline: none;
  border: 2px darkslategrey solid;
}
@media (min-width: 550px) {
  input {
    width: 400px;
  }
}

button {
  padding: 8px 16px;
  border-radius: 8px;
  background-color: darkslategrey;
  color: white;
  margin-top: 8px;
  font-size: 20px;
}
@media (min-width: 650px) {
  button {
    margin-top: 0px;
  }
}

.select-container {
  border: 2px darkslategrey solid;
  border-radius: 0 0 8px 8px;
  position: absolute;
  width: 312px;
  background-color: white;
  cursor: pointer;
}
.select-container :last-child {
  border-radius: 0 0 8px 8px;
}
.select-container .select {
  background-color: white;
  font-size: 24px;
  padding: 8px;
}
.select-container .select:hover {
  background-color: darkslategrey;
}
@media (min-width: 550px) {
  .select-container {
    width: 400px;
  }
}

.card-holder {
  display: grid;
  justify-content: start;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
  background-color: white;
  width: -moz-fit-content;
  width: fit-content;
}

.centering {
  display: block;
  justify-content: right;
  width: -moz-fit-content;
  width: fit-content;
  padding: auto;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: rgba(240, 255, 255, 0.671);
  border-radius: 8px;
  padding: 20px 10px;
  height: -moz-fit-content;
  height: fit-content;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card h3 {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  flex: 0 0 10%;
  align-content: space-around;
  margin-bottom: 20px;
}
.card .thumbnail {
  flex: 0 0 20%;
  border-radius: 4px;
}
.card p {
  margin: 20px 0;
  align-self: stretch;
  overflow-y: auto;
}
.card .first {
  text-transform: capitalize;
}
.card .genre-duration {
  margin-top: auto;
}
.card .genre-duration p {
  margin: 0;
}
.card ul {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.card ul li {
  text-transform: capitalize;
  list-style: none;
  background-color: darkslategrey;
  padding: 2px 6px;
  border-radius: 8px;
  min-width: 60px;
  text-align: center;
  color: white;
}
@media (min-width: 560px) {
  .card {
    height: 800px;
  }
}

.no-results {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.no-results img {
  height: 85%;
}/*# sourceMappingURL=styles.css.map */