$primary-color: darkslategrey;
$secondary-color: white;
$primary-text-color: black;
$secondary-text-color: white;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: $primary-color;
}
h1 {
  font-size: 48px;
  margin: 16px;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
}
p {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $secondary-color;

  @media (min-width: 550px) {
    max-width: 900px;
    margin: auto;
  }
}

.search-box {
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;

  @media (min-width: 650px) {
    flex-direction: row;
    gap: 24px;
  }
}

input {
  position: relative;
  padding: 8px;
  border-radius: 8px;
  font-size: 24px;
  &:focus {
    border-radius: 8px 8px 0 0;
    outline: none;
    border: 2px $primary-color solid;
  }
  @media (min-width: 550px) {
    width: 400px;
  }
}

button {
  padding: 8px 16px;
  border-radius: 8px;
  background-color: $primary-color;
  color: $secondary-text-color;
  margin-top: 8px;
  font-size: 20px;
  @media (min-width: 650px) {
    margin-top: 0px;
  }
}
.select-container {
  border: 2px $primary-color solid;
  border-radius: 0 0 8px 8px;
  position: absolute;
  width: 312px;
  background-color: $secondary-color;
  cursor: pointer;
  :last-child {
    border-radius: 0 0 8px 8px;
  }
  .select {
    background-color: $secondary-color;
    font-size: 24px;
    padding: 8px;
    &:hover {
      background-color: $primary-color;
    }
  }
  @media (min-width: 550px) {
    width: 400px;
  }
}
.card-holder {
  display: grid;
  justify-content: start;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
  background-color: $secondary-color;
  width: fit-content;
}

.centering {
  display: block;
  justify-content: right;
  width: fit-content;
  padding: auto;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: rgba(240, 255, 255, 0.671);
  border-radius: 8px;
  padding: 20px 10px;
  height: fit-content;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  h3 {
    text-align: center;
    font-family: "Courier New", Courier, monospace;
    flex: 0 0 10%;
    align-content: space-around;
    margin-bottom: 20px;
  }
  .thumbnail {
    flex: 0 0 20%;
    border-radius: 4px;
  }

  p {
    margin: 20px 0;
    align-self: stretch;
    overflow-y: auto;
  }
  .first {
    text-transform: capitalize;
  }
  .genre-duration {
    margin-top: auto;
    p {
      margin: 0;
    }
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    li {
      text-transform: capitalize;
      list-style: none;
      background-color: $primary-color;
      padding: 2px 6px;
      border-radius: 8px;
      min-width: 60px;
      text-align: center;
      color: $secondary-text-color;
    }
  }
  @media (min-width: 560px) {
    height: 800px;
  }
}

.no-results {
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    height: 85%;
  }
}
