.card {
    display: flex;
    flex-direction: column;
    background-color: aqua;
    border-radius: 4px;
    padding: 10px;
    h3 {
        flex: 0 0 100%;
        font-family: 'Courier New', Courier, monospace;
    }
}